<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>URL SHORT</title>
  </head>
  <body>
    {% block content %}
    <div class="container">
        <h1>URL SHORTNER</h1>
        <form action='.' method='POST'>
            {% csrf_token %}
            <input type="text" name ='full_url' placeholder = 'Full URL Here' id='long_url' required>
            <input type='submit' value='Shorten'>
        </form>
        <input id="search" type="text" placeholder="search URLS here"></input>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">LONG URL</th>
              <th scope="col">SHORT</th>
            </tr>
          </thead>
          <tbody id="filterdata">
          {% for i in urls %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.nlong}}</td>
              <td><a href="./{{i.short}}" target="_blank">127.0.0.1/{{i.short}}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    {% endblock content %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



        <!-- Optional JavaScript -->
    <script>
    $(function(){
      console.log("DOC ready");

      $("#search").keyup(function(event) {
        query = $(this).val();
        var url = `../api/s?search=${query}`
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
          console.log(data);
          var list = data
          for(var i in list){
            var count = parseInt(i)+1
            var item = item +
            `
              <tr>
                <th scope="row">${count}</th>
                <td>${list[i].nlong}</td>
                <td><a href="./${list[i].short}" target="_blank">127.0.0.1/${list[i].short}</a></td>
              </tr>
            `
          }
            $("#filterdata").html(item)
        })
      })

    });
    
    </script>


    


  </body>
</html>